html 
    head 
        title working
        link(rel="stylesheet", href ="/style.css", type='text/css')
    body(id="special") 
        a(href="/users" id="anchorSpec") ALL USERS
        include form.pug


    include footer.pug
        